:root{
    --primary-theme-color: #f0cf17;
    --secondary-theme-color: #ffffff;
    --text-color: black;
    --primary-shadow-color: rgba(225, 228, 52, 0.533);
    --secondary-shadow-color: #21242c80;
    --shadow-color: #8888;
    --button-color: #61dafb;
    --button-color-active: #fff;
    --table-border-color:#000;
    --button-text-color: #000;
    --primary-highlight: #61dafb;
    --secondary-highlight: #ffd700;
    --padding-section: 2em 0;
    --padding-container: 0 2em;
    --max-width-container: 1024px;
    --border-radius: 0.5rem;
    --all-transitions: all 0.25s;
}

.body{
    background-color: var(--primary-theme-color);
    color: var(--text-color);
    font-family: 'Rubik', sans-serif;
    margin:0;
    min-height: 200vh;
}

.header{
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--secondary-theme-color);
}

.header-nav{
    padding: 0.5em 0;
}

.header-nav-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    padding: var(--padding-container);
}

.header-nav__logo-container{
    display: flex;
    height: 5rem;
    overflow: hidden;
    margin: 0;
}

.header-nav__logo{
    height: 100%;
}

.header-nav__menu-icon-label{
    font-size: 2rem;
    cursor: pointer;
    transition: var(--all-transitions);
}

.header-nav__menu-icon-label:hover{
    box-shadow: 0 0 1rem 0 var(--primary-highlight);
}

.header-nav__menu-icon-checkbox{
    display: none;
}

.header-nav__menu-icon-checkbox:checked+.header-nav__menu-link-list{
    bottom: calc(100% - 20.28rem);
}

.header-nav__menu-link-list{
    position: fixed;
    bottom: 100%;
    display: flex;
    list-style: none;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 100%;
    background-color: var(--primary-shadow-color);
    padding: 0;
    margin: 0;
    transition: var(--all-transitions);
}

.header-nav__menu-link-item{
}

.header-nav__menu-link{
    background-color: var(--button-color);
    border-radius: 1rem;
    font-size: 1.25rem;
    color: var(--text-color);
    text-decoration: none;
    transition: var(--all-transitions);
}

.header-nav__menu-link:hover{
    position: relative;
    background-color: var(--secondary-shadow-color);
    color: var(--secondary-theme-color);
}

.header-nav__menu-link-item:hover::after{
    content: '👈';
    position: absolute;
    transition: var(--all-transitions);
}

@media(min-width:854px){
    .header-nav__menu-icon-label{
        display: none;
    }

    .header-nav__menu-link-list{
        position: static;
        display: flex;
        flex-direction: row;
        list-style: none;
        align-items: center;
        justify-content: space-between;
        gap: 2rem;
        width: 100%;
        background-color: var(--primary-shadow-color);
        padding: 0;
        margin: 0;
    }
}

.main{
    background-color: var(--secondary-theme-color);
}

.main-formulario{
    padding: 0.5em 0;
}

.main-formulario-container{
    max-width: 1024px;
    margin: auto;
    padding: var(--padding-container);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background-color: var(--primary-shadow-color);
    border-radius: 2rem;
}

.main-formulario__titulo{
    margin: 0;
    font-weight: 700;
}

.main-formulario__item-list{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 0.5rem;
}

.main-formulario__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.main-formulario__label{}

.main-formulario__input{
    height: 1rem;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1024px;
    margin: auto;
    padding: var(--padding-container);
    background-color: var(--primary-shadow-color);
    border-radius: 2rem;
}

.main-tabla{
    padding: 0.5em 0;
    border: 2px solid var(--table-border-color);
    border-collapse: collapse;
}

.main-tabla__titulo{
    font-weight: bold;
    text-align: center;
}

.main-tabla__fila-encabezados{
}

.main-tabla__encabezado{
    border: 2px solid var(--table-border-color);
    border-collapse: collapse;
}

.main-tabla-filaProducto{
    border: 2px solid var(--table-border-color);
    border-collapse: collapse;
}

.filaProducto__Producto{
}

.filaProducto__Caracteristicas{
}

.filaProducto__Presentacion{
}

.filaProducto__Precio{
}

.filaProducto__Promocion{
}

.psudocodigo{
    display: none;
}